@model IEnumerable<TestAutomationPlayground.Models.Clients.Client>



<div class="container">
    <div class="page-header">
    <h2>Clients</h2>
    </div>
    @Html.ActionLink("Add","New")
    <table id="Clients" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">InsuranceNumber</th>
                <th scope="col">ClientType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
            <tr>
                <th scope="row">@client.Id</th>
                <td>@client.FirstName</td>
                <td>@client.LastName</td>
                <td>@client.InsuranceNumber</td>
                <td>@client.ClientType.Name</td>
            </tr>
            }



        </tbody>

    </table>

</div>
